* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;

}h3 {
    font-size: 1.25rem;
    margin: 0.15rem;
    padding: 10px;
    background-color: red;
}

p {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

header, nav, main, footer {
    max-width: 767px;
    margin: 0 auto;    
}

header {
    margin: 1rem auto;
    border: 1px solid black;
    padding: .5rem;
    background-color: red;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-family: 'Merriweather', serif;
}

nav {
    padding: .5rem;
    margin: .5rem auto;
    background-color: aqua;
}

nav a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Merriweather', serif;
    background-color: black; 
    margin: 1rem auto;
    border: 1px black;
    padding: .5rem;
    text-align: left;
}

main section {
    display: block;
    max-width: 320px;
    background-color: aqua;
    padding: 10px;
    margin: .5rem;
    }
    
/*main img {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    max-width: 100%;
}*/

footer {
    background-color: red;
    color: black;
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
    font-family: 'Open Sans', sans-serif;
}
