* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 1rem;
    margin: 0;
    font-family: 'Merriweather', serif; 
}

h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: .2em;
    font-family: 'Merriweather', serif; 
}

p {
    display: block;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: .2em;
    font-family: 'Open Sans', sans-serif;
}


header, nav, main, footer {
    max-width: 100%;
    margin: 0 auto;    
}

header {
    border: 1px solid black;
    padding: .5rem;
    background-color: red;
    color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
}

header img{
  width: 100px;
  height: auto;
  margin: 10px;
}

#banner {
  margin: 0 auto;
  border: 1px solid black;
  padding: .5rem;
  text-align: center;
}

header p {
  border: 1px solid black;
  padding: 0.75rem;
  background-color: aqua;
  max-width: 100%;
  margin: 0 auto;
}

.social img {
  width: 32px;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: red;
  }
  
  nav {
    background-color: black;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: red;
  }
  
  nav ul li.active a {
    background-color: white;
    color: white;
  }
  
  nav ul li a:hover {
    background-color: white;
  }

  .active {
    color: aqua;
}

  nav ul {display: none;}
    nav ul.open {display: block;}
    

  #hamburgerBtn span:nth-child(1) {display: block;}
  #hamburgerBtn span:nth-child(2) {display: none;}
    
  #hamburgerBtn.open span:nth-child(1) {display: none;}
  #hamburgerBtn.open span:nth-child(2) {display: block;}
  
main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Merriweather', serif;
    margin: 1rem auto;
    background-color:  black;
    padding: .5rem;
}

main figure.myphoto {
 width: 100%;
 margin: 0 0 0 2%;
}

main figure.myphoto img {
  width: 100%;
}

.hero {
	margin: 5px 5px;
	position: relative;
  background-color: aqua;
}

.event {
  background-color: aqua; 
  border: 1px solid black;
  margin: 5px;
}

.weather {
  background-color: aqua; 
  border: 2px solid black;
  margin: 2%;
  padding: 2%;
}
 .weather p {
   border: 2px solid black;
 }

.news {
  background-color: aqua;
  border: 1px solid black;
  margin: 5px; 
}

.join {
  background-color: aqua;
  border: 1px solid black;
  margin: 5px; 
  display: none;
}

.spotlight {
  background-color: aqua;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
}

.spot1 {
  background-color: aqua;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
}

.spot2 {
  background-color: aqua;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid black;
}

.spot3 {
  background-color: aqua;
  border: 1px solid black;
  display: none;
}
 
  
  
footer {
    
  border: 1px solid black;
  padding: .5rem;
  background-color: red;
  color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Merriweather', serif;

}

footer img {
  width: 100px;
  height: auto;
  margin: 10px;
}