* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 1rem;
    margin: 0;
    padding: .5rem;
    font-family: 'Merriweather', serif; 
}

h2 {
    font-size: 1rem;
    padding: 1%;
    font-family: 'Merriweather', serif; 
}

p {
    display: block;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 2%;
    font-family: 'Open Sans', sans-serif;
}


header, nav, main, footer {
    max-width: 100%;
    margin: 0 auto;    
}

header {
    border: 1px solid black;
    padding: .5rem;
    background-color: red;
    color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
}

header img{
  width: 100%;
  height: auto;
  margin: 2%;
}

#banner {
  margin: 0 auto;
  border: 1px solid black;
  padding: .5rem;
  text-align: center;
}

header p {
  border: 1px solid black;
  padding: 0.75rem;
  background-color: aqua;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif
}

.social img {
  width: 32px;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: red;
  }
  
  nav {
    background-color: black;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: red;
  }
  
  nav ul li.active a {
    background-color: white;
    color: white;
  }
  
  nav ul li a:hover {
    background-color: white;
  }

  .active {
    color: aqua;
}

  nav ul {display: none;}
    nav ul.open {display: block;}
    

  #hamburgerBtn span:nth-child(1) {display: block;}
  #hamburgerBtn span:nth-child(2) {display: none;}
    
  #hamburgerBtn.open span:nth-child(1) {display: none;}
  #hamburgerBtn.open span:nth-child(2) {display: block;}
  
main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Merriweather', serif;
    background-color:  black;
    padding: .5rem;
}

picture.myphoto {
 display: block;
 width: 96%;
}

picture.myphoto img {
  width: 100%;
  margin-top: 2%;
  margin-left: 2%;
}
.hero {
	margin: 5px 5px;
	position: relative;
  background-color: aqua;
}

.hero button {
  margin: 2%;
  background-color: red;
  padding: 1%;
  border-radius: 10px;
}

.event {
  background-color: aqua; 
  border: 1px solid black;
  margin: 5px;
}

.event img {
  width: 90%;
  margin: 0 2%;
  border: 1px solid black;
}

.weather {
  background-color: aqua; 
  border: 2px solid black;
  margin: 2%;
  padding: 2%;
}
 .weather p {
   border: 2px solid black;
 }

.news {
  background-color: aqua;
  border: 1px solid black;
  margin: 5px; 
}

.join {
  background-color: aqua;
  border: 1px solid black;
  margin: 5px; 
  display: none;
}

.join button {
  margin: 2%;
  background-color: red;
  padding: 1%;
  border-radius: 20px;
}

.spotlight {
  background-color: aqua;
  margin: 2% 2% 2% 0;
  border: 1px solid black;
}

.spot1 {
  background-color: aqua;
  margin: 0 2%;
  border: 1px solid black;
}

.spot2 {
  background-color: aqua;
  margin: 0 2%;
  border: 1px solid black;
}

.spot3 {
  background-color: aqua;
  margin: 0 2% 2% 2%;
  border: 1px solid black;
  display: none;
}

.stats {
	margin: 5px 5px;
	position: relative;
  background-color: aqua;
}

.stats button {
  margin: 2%;
  background-color: red;
  padding: 1%;
}

.visits-ls {
  background-color: aqua; 
  border: 1px solid black;
  margin: 5px;
}

.pic {
  background-color: aqua;
  margin: 2%;
  border: 1px solid black;
}

.pic img[data-src] {
  filter: blur(0.2em);
}

.pic img {
  filter: blur(0em);
  transition: filter 0.5s;
  margin: 2%;
}


.pic1 {
  background-color: aqua;
  margin: 0 2%;
  border: 1px solid black;
}

.pic2 {
  background-color: aqua;
  margin: 0 2%;
  border: 1px solid black;
}

.pic3 {
  background-color: aqua;
  margin: 0 2%;
  border: 1px solid black;
}

.pic4 {
  background-color: aqua;
  margin: 0 2%;
  border: 1px solid black;
}

.pic5 {
  background-color: aqua;
  margin: 0 2% 2% 2%;
  border: 1px solid black;
}

.form {
  background-color: aqua;
  margin: 20px;
  padding: .5rem 2%;
  font-family: 'Open Sans', sans-serif;
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid black;
  border-radius:  10px;
  padding: .5rem 2%;
  font-family: 'Open Sans', sans-serif;
}
form legend {
  color: black;
  margin: 0 1rem;
  padding: 0 .5rem;
  font-family: 'Open Sans', sans-serif;
}
form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: black;
  font-size: .8rem;
  font-family: 'Open Sans', sans-serif;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px black;
  border-radius: 4px;
  padding: .75rem;
  color: black;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
  font-family: 'Open Sans', sans-serif;
} 

form label.mem {
  display: block;
  padding: .75rem;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

form input.submitBtn {
  border: none;
  background-color: red;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
  font-family: 'Open Sans', sans-serif;
  
}
.textarea {
  display: block;
  box-sizing: border-box;
  padding: 2rem;
	font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

.membership {
  background-color: aqua;
  margin: 2% 2% 2% 0;
  border: 1px solid black;
}

.np {
  background-color: aqua;
  margin: 0 2%;
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;
}

.bronze {
  background-color: aqua;
  margin: 0 2%;
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;
}
.bronze h2 {
  color: brown;
  font-family: 'Merriweather', serif;
}

.silver {
  background-color: aqua;
  margin: 0 2%;
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;
}
.silver h2 {
  color: gray;
  font-family: 'Merriweather', serif;
}

.gold {
  background-color: aqua;
  margin: 0 2% 2% 2%;
  border: 1px solid black;
  font-family: 'Open Sans', sans-serif;
}

.gold h2 {
  color: goldenrod;
  font-family: 'Merriweather', serif;
}
 
.thankyou {
  background-color: aqua;
  margin: 0 2%;
  border: 2px solid red;
  text-align: center;
  font-family: 'Open Sans', sans-serif
}

footer {    
  border: 1px solid black;
  padding: .5rem;
  background-color: red;
  color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: 'Merriweather', serif;
}

footer img {
  width: 10%;
  height: auto;
  margin: 2%;
}

footer h2 {
  margin-top: 1%;
  font-size: 1rem;
  font-family: 'Merriweather', serif;
} 
