* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 1rem;
    margin: 0;
    padding: .5rem;
    font-family: 'Merriweather', serif; 
}

h2 {
    font-size: 1rem;
    padding: .5rem;
    font-family: 'Merriweather', serif; 
}

p {
    display: block;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: .5rem;
    font-family: 'Open Sans', sans-serif;
}


header, nav, main, footer {
    max-width: 100%;
    margin: 0 auto;    
}

header {
    border: 1px solid black;
    padding: .5rem;
    background-color: #D89A9E;
    color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
}

header img{
  width: 165px;
  height: auto;
  margin: 2%;
  border-radius: 10px;
  border: 1px solid black;
}
header h1 {
  font-family: 'Petit Formal Script', cursive;
}

header p {
  border: 1px solid black;
  padding: 0.75rem;
  background-color: #AEB4A9;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif
}

.social img {
  width: 32px;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #c37D92;
  }
  
 nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
  }
  
  nav ul li.active a {
    background-color: #c37D92;
    color: #c37D92;
  }
  
  nav ul li a:hover {
    background-color: #c37D92;
  }

  .active {
    color: white;
}
nav ul {display: none;}
nav ul.open {display: block;}


    

  #hamburgerBtn span:nth-child(1) {display: block;}
  #hamburgerBtn span:nth-child(2) {display: none;}
    
  #hamburgerBtn.open span:nth-child(1) {display: none;}
  #hamburgerBtn.open span:nth-child(2) {display: block;}

 main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Merriweather', serif;
    background-color:  #846267;
    padding: .5rem;
}

.resource {
  background-color: white;
}

picture.highlightphoto {
 display: block;
 width: 96%;
}

picture.highlightphoto img {
  width: 100%;
  margin-top: 2%;
  margin-left: 2%;
}
.highlight {
	margin: 5px 5px;
	position: relative;
    background-color: #e0c1b3;
}

.templepic {
  background-color: #AEB4A9 ;
  margin: 2%;
  border: 1px solid black;
}

.templepic1 {
  margin: 0 0 0 10%;
}

.templepic2 {
  margin: 0 0 0 10%;
}

.templepic3 {
  margin: 0 0 0 10%;
}
.weather {
    background-color: #c37D92; 
    border: 2px solid black;
    margin: 2%;
    padding: 2%;
  }
   .weather p {
     border: 2px solid black;
   }

   .reservation {
    background-color: #c37D92;
    border: 1px solid black;
    margin: 5px; 
  }

  .reservation p {
    margin: 5%;
  }

  .btn  {
    margin: 40% 25%;
    background-color:#D89A9E ;
    color: black;
    font-size: 1.5rem;
    padding: 5% 2% 0 2%;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
  }

  .grid {
    background-color:#AEB4A9 ;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    background-color: #c37D92;
    border: 1px solid black;
    box-shadow: 0 0 30px #777;
    margin: 0 2em;
  }  
  
  .sectiontemple {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #eee;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  .sectiontemple img {
    width: auto;
    max-width: 300px;
    height: 200px;
    border: 1px solid black;
    align-items: center;
  }
  
  .menu {
    margin: 0 2em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #846267;
    text-align: center;
  }
  
  .menu button {
    padding: 1rem;
  }
  .list .sectiontemple {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: row;
    justify-content: left;
  }
  
  .list .sectiontemple > * {
    margin: 0 1rem;
    text-align: left;
  }
  
  .grid .sectiontemple {  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
  }
  
  .grid .sectiontemple > * {
    margin: 0.1rem;
  }

  .thanks {
    background-color: #AEB4A9;
  }

  .form {
    background-color: #AEB4A9;
    margin: 20px;
    padding: .5rem 2%;
    font-family: 'Open Sans', sans-serif;
  }
  
  form fieldset {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius:  10px;
    padding: .5rem 2%;
    font-family: 'Open Sans', sans-serif;
  }
  form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-family: 'Open Sans', sans-serif;
  }
  form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .8rem;
    font-family: 'Open Sans', sans-serif;
  }
  
  form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 4px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Open Sans', sans-serif;
  } 
  
  form label.beds {
    display: block;
    padding: .75rem;
    color: black;
    font-family: 'Open Sans', sans-serif;
  }
  
  form input.submitBtn {
    border: none;
    background-color: #D89A9E;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2% 2% 2% 0;
    width: 96%;
    max-width: 20rem;
    font-family: 'Open Sans', sans-serif;    
  }

  textarea {
    display: block;
    box-sizing: border-box;
    border: solid 2px black;
    padding: 2rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
  }
  
  form label.top input:required {
    border-left: red solid 6px;
  }
  
  form label.top input:required:valid {
    border-left: green solid 6px;
  }

  .rooms {
    background-color: #AEB4A9;
    
  }

  .king img{
    margin: 2% 0 0 10%;
    border: 1px solid black;
  }

  .double img{
    margin: 2% 0 0 10%;
    border: 1px solid black;
  }

  .kingdouble img{
    margin: 2% 0 0 10%;
    border: 1px solid black;
  }

  .suite img{
    margin: 2% 0 0 10%;
    border: 1px solid black;
  }

  .services {
    background-color: #AEB4A9; 
  }
  
  footer {    
    border: 1px solid black;
    padding: .5rem;
    background-color:#D89A9E ;
    color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
  }
  
  footer img {
    width: 165px;
    height: auto;
    margin: 2%;
    border-radius: 10px;
    border: 1px solid black;
  }
  
  footer h2 {
    margin-top: 1%;
    font-size: 1rem;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
  } 
  
  footer a {
    text-decoration: none;
    background-color:  #AEB4A9;
    color: black; 
  }

 