* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'Merriweather', serif; 
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Open Sans', sans-serif;
}

#red {
    background-color:red;
    color:red;
    margin: 10px;
}

#aqua {
    background-color:aqua;
    color:aqua;
    border: 1px solid black;
    margin: 10px;
}

#black {
    background-color:black;
    color:black;
    margin: 10px;
}

#white {
    background-color: white;
    color: white;
    margin: 10px;
}
#goldenrod {
    background-color: goldenrod;
    color: goldenrod;
    margin: 10px;
}
header, nav, main, footer {
    max-width: 767px;
    margin: 0 auto;    
}

header {
    border: 1px solid black;
    padding: .5rem;
    background-color: red;
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-family: 'Merriweather', serif;
}

nav {
    background-color: black;
    max-width: 767px;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(0,0,0,.09);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: red;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.25rem;
    background: linear-gradient(90deg, transparent, yellow, transparent)
top /
    var( --d, 0) 10px no-repeat;
  transition: 0.5s;
}

.active {
    color: aqua;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Merriweather', serif;
    background-color: aqua; 
    margin: 1rem auto;
    border: 1px black;
    padding: .5rem;
}

main img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    max-width: 100%;
}
main ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
footer {
    background-color: red;
    color: black;
    text-align: center;
    padding: 1rem;
    border: 1px solid black;
    font-family: 'Merriweather', serif;
}